In [10]:
import numpy as np
import pandas as pd
from statistic import wd_statistic, me, mae, rmse, d, wd_diff_cal, mean_wd
import soo_functions as soo

In [7]:
F_data = pd.DataFrame({'WS':[10,20,30,40,50], 'WD':[0, 30, 60, 90, 180]})
A_data = pd.DataFrame({'WS':[15,23,31,42,58], 'WD':[5, 40, 45, 120, 190]})

In [14]:
temp_1 = soo.trans_to_UV(ws=pd.Series([1,1,1,1,1]), wd=F_data.WD)

In [17]:
soo.trans_to_WSWD(u=temp_1.u, v=temp_1.v)

    ws     wd
0  1.0    0.0
1  1.0   30.0
2  1.0   60.0
3  1.0   90.0
4  1.0  180.0

In [15]:
temp_2 = soo.trans_to_UV(ws=F_data.WS, wd=F_data.WD)

In [18]:
soo.trans_to_WSWD(u=temp_2.u, v=temp_2.v)

     ws     wd
0  10.0    0.0
1  20.0   30.0
2  30.0   60.0
3  40.0   90.0
4  50.0  180.0