In [1]:
import sys
import os

# 현재 작업 디렉토리 얻기
current_dir = os.getcwd()

# src 경로를 작업 디렉토리와 결합
src_path = os.path.join(current_dir, '../src')

# src 폴더를 Python 경로에 추가
sys.path.append(src_path)

# 이후 모듈 불러오기
from statistic import soo_statistic, wd_statistic, me, mae, rmse, d, wd_diff_cal, mean_wd
import soo_functions as soo
import numpy as np
import pandas as pd

# Test Dataset 생성

In [2]:
F_data = pd.DataFrame(
    {
        'datetime': [
            "2024-01-01 00:00:00", "2024-01-01 00:00:10", "2024-01-01 00:00:20",
            "2024-01-01 00:00:30", "2024-01-01 00:00:40", "2024-01-01 00:00:50",
            "2024-01-01 00:01:00", "2024-01-01 00:01:10", "2024-01-01 00:01:20"
        ],
        'WS': [1, 10, 1, 10, 10, 10,  10, 10, 10],
        'WD': [0,  0, 0,  0, 90, 10, 350, 90, 45]
    }
)
A_data = pd.DataFrame(
    {
        'datetime': [
            "2024-01-01 00:00:00", "2024-01-01 00:00:10", "2024-01-01 00:00:20",
            "2024-01-01 00:00:30", "2024-01-01 00:00:40", "2024-01-01 00:00:50",
            "2024-01-01 00:01:00", "2024-01-01 00:01:10", "2024-01-01 00:01:20"
        ],
        'WS': [10, 1, 1, 10, 10,  10,  10, 15, np.nan],
        'WD': [ 0, 0, 0, 90,  0, 350,  10, 45, np.inf]
    }
)
soo.resumetable(A_data)

데이터셋 형태: (9, 3)
Dataset shape: (9, 3)

,Feature,Data Type,Missing Values Count,Missing Values Percentage,Unique Values Count,Min Value,Max Value,First Value,Second Value,Third Value,Second to Last Value,Last Value
0,datetime,object,0,0.000000,9,2024-01-01 00:00:00,2024-01-01 00:01:20,2024-01-01 00:00:00,2024-01-01 00:00:10,2024-01-01 00:00:20,2024-01-01 00:01:10,2024-01-01 00:01:20
1,WS,float64,1,11.111111,3,1.0,15.0,10.0,1.0,1.0,15.0,NaN
2,WD,float64,0,0.000000,6,0.0,inf,0.0,0.0,0.0,45.0,inf

## seed_everything

In [3]:
soo.seed_everything(9234)

## trans_to_UV

In [4]:
uv_data = soo.trans_to_UV(ws=F_data.WS, wd=F_data.WD)
uv_data

           u             v
0  -0.000000 -1.000000e+00
1  -0.000000 -1.000000e+01
2  -0.000000 -1.000000e+00
3  -0.000000 -1.000000e+01
4 -10.000000 -6.123234e-16
5  -1.736482 -9.848078e+00
6   1.736482 -9.848078e+00
7 -10.000000 -6.123234e-16
8  -7.071068 -7.071068e+00

## trans_to_WSWD

In [5]:
soo.trans_to_WSWD(u=uv_data.u, v=uv_data.v)

     ws     wd
0   1.0    0.0
1  10.0    0.0
2   1.0    0.0
3  10.0    0.0
4  10.0   90.0
5  10.0   10.0
6  10.0  350.0
7  10.0   90.0
8  10.0   45.0

In [6]:
com_data = pd.merge(left=F_data, right=A_data, on="datetime", suffixes=["_F", "_A"])
com_data

              datetime  WS_F  WD_F  WS_A   WD_A
0  2024-01-01 00:00:00     1     0  10.0    0.0
1  2024-01-01 00:00:10    10     0   1.0    0.0
2  2024-01-01 00:00:20     1     0   1.0    0.0
3  2024-01-01 00:00:30    10     0  10.0   90.0
4  2024-01-01 00:00:40    10    90  10.0    0.0
5  2024-01-01 00:00:50    10    10  10.0  350.0
6  2024-01-01 00:01:00    10   350  10.0   10.0
7  2024-01-01 00:01:10    10    90  15.0   45.0
8  2024-01-01 00:01:20    10    45   NaN    inf

# statistic.py

In [7]:
me(com_data.WS_F, com_data.WS_A)

d:\GitHub\soo_functions\test\../src\statistic.py:25: UserWarning: 데이터에 NaN 또는 inf 값이 포함되어 있습니다.
  warnings.warn("데이터에 NaN 또는 inf 값이 포함되어 있습니다.")

np.float64(-0.625)

In [8]:
mae(com_data.WS_F, com_data.WS_A)

np.float64(2.875)

In [9]:
rmse(F_data.WS, A_data.WS)

d:\GitHub\soo_functions\test\../src\statistic.py:25: UserWarning: 데이터에 NaN 또는 inf 값이 포함되어 있습니다.
  warnings.warn("데이터에 NaN 또는 inf 값이 포함되어 있습니다.")

np.float64(4.834769901453429)

In [10]:
d(F_data.WS, A_data.WS)

d:\GitHub\soo_functions\test\../src\statistic.py:25: UserWarning: 데이터에 NaN 또는 inf 값이 포함되어 있습니다.
  warnings.warn("데이터에 NaN 또는 inf 값이 포함되어 있습니다.")

np.float64(0.6182699668282725)

In [11]:
soo_statistic(F_data.WS, A_data.WS)

d:\GitHub\soo_functions\test\../src\statistic.py:25: UserWarning: 데이터에 NaN 또는 inf 값이 포함되어 있습니다.
  warnings.warn("데이터에 NaN 또는 inf 값이 포함되어 있습니다.")
d:\GitHub\soo_functions\test\../src\statistic.py:25: UserWarning: 데이터에 NaN 또는 inf 값이 포함되어 있습니다.
  warnings.warn("데이터에 NaN 또는 inf 값이 포함되어 있습니다.")
d:\GitHub\soo_functions\test\../src\statistic.py:25: UserWarning: 데이터에 NaN 또는 inf 값이 포함되어 있습니다.
  warnings.warn("데이터에 NaN 또는 inf 값이 포함되어 있습니다.")

,F_mean,A_mean,ME,Pbias,MAE,RMSE,IOA,R,bcRMSE,BCPI,SBCPI
0,8.0,8.375,-0.625,-4.477612,2.875,4.83477,0.61827,NaN,4.794202,NaN,NaN

In [12]:
com_data = com_data.dropna()

In [13]:
soo_statistic(com_data.WS_F, com_data.WS_A)

,F_mean,A_mean,ME,Pbias,MAE,RMSE,IOA,R,bcRMSE,BCPI,SBCPI
0,7.75,8.375,-0.625,-7.462687,2.875,4.83477,0.61827,0.364529,4.794202,21.271908,70.906361

In [14]:
wd_diff_cal(com_data.WD_F, com_data.WD_A)

0     0.0
1     0.0
2     0.0
3    90.0
4    90.0
5    20.0
6    20.0
7    45.0
dtype: float64

In [18]:
com_data

              datetime  WS_F  WD_F  WS_A   WD_A
0  2024-01-01 00:00:00     1     0  10.0    0.0
1  2024-01-01 00:00:10    10     0   1.0    0.0
2  2024-01-01 00:00:20     1     0   1.0    0.0
3  2024-01-01 00:00:30    10     0  10.0   90.0
4  2024-01-01 00:00:40    10    90  10.0    0.0
5  2024-01-01 00:00:50    10    10  10.0  350.0
6  2024-01-01 00:01:00    10   350  10.0   10.0
7  2024-01-01 00:01:10    10    90  15.0   45.0

In [20]:
print(mean_wd(com_data.WS_A, com_data.WD_A, cal_method="mean"))
mean_wd(com_data.WS_F, com_data.WD_F)

ValueError: If using all scalar values, you must pass an index