In [2]:
import numpy as np
import pandas as pd
# from statistic import wd_statistic, me, mae, rmse, d, wd_diff_cal, mean_wd
# import soo_functions as soo

In [6]:
F_data = pd.DataFrame(
    {
        'datetime': [
            "2024-01-01 00:00:00", "2024-01-01 00:00:10", "2024-01-01 00:00:20",
            "2024-01-01 00:00:30", "2024-01-01 00:00:40", "2024-01-01 00:00:50",
            "2024-01-01 00:00:60", "2024-01-01 00:01:00", "2024-01-01 00:01:10"
        ],
        'WS': [1, 10, 1, 10, 10, 10,  10, 10, 10],
        'WD': [0,  0, 0,  0, 90, 10, 350, 90, 45]
    }
)
A_data = pd.DataFrame(
    {
        'datetime': [
            "2024-01-01 00:00:00", "2024-01-01 00:00:10", "2024-01-01 00:00:20",
            "2024-01-01 00:00:30", "2024-01-01 00:00:40", "2024-01-01 00:00:50",
            "2024-01-01 00:00:60", "2024-01-01 00:01:00", "2024-01-01 00:01:10"
        ],
        'WS': [10, 1, 1, 10, 10,  10,  10, 15, np.nan],
        'WD': [ 0, 0, 0, 90,  0, 350,  10, 45, np.inf]
    }
)
A_data

              datetime    WS     WD
0  2024-01-01 00:00:00  10.0    0.0
1  2024-01-01 00:00:10   1.0    0.0
2  2024-01-01 00:00:20   1.0    0.0
3  2024-01-01 00:00:30  10.0   90.0
4  2024-01-01 00:00:40  10.0    0.0
5  2024-01-01 00:00:50  10.0  350.0
6  2024-01-01 00:00:60  10.0   10.0
7  2024-01-01 00:01:00  15.0   45.0
8  2024-01-01 00:01:10   NaN    inf

In [14]:
temp_1 = soo.trans_to_UV(ws=pd.Series([1,1,1,1,1]), wd=F_data.WD)

In [17]:
soo.trans_to_WSWD(u=temp_1.u, v=temp_1.v)

    ws     wd
0  1.0    0.0
1  1.0   30.0
2  1.0   60.0
3  1.0   90.0
4  1.0  180.0

In [15]:
temp_2 = soo.trans_to_UV(ws=F_data.WS, wd=F_data.WD)

In [18]:
soo.trans_to_WSWD(u=temp_2.u, v=temp_2.v)

     ws     wd
0  10.0    0.0
1  20.0   30.0
2  30.0   60.0
3  40.0   90.0
4  50.0  180.0